@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

h1,
h2,
h3,
h4 {
  font-family: var(--incognito), "Inter", sans-serif;
}

.tech-icon svg {
  width: 40px;
  height: 40px;
}

/* profile text css */

/* Waving hand css */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.waving-hand {
  display: inline-block;
  transform-origin: 70% 70%;
  transition: transform 0.2s;
}

.waving-hand:hover {
  animation: wave 2s infinite;
}

/* Particle css */

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.relative {
  position: relative;
}

.relative.z-10 {
  z-index: 10;
}

.gradient-overlay {
  background: linear-gradient(to bottom, rgba(34, 197, 94, 0.15), transparent);
}

.icon-container svg {
  width: 20px;
  height: 20px;
}

/* profile section */

.profile-image-container {
  position: relative;
  transition: all 0.3s ease;
}

.profile-image-container:hover .circle {
  stroke-dashoffset: 0;
}

.profile-image-container:hover .glasses {
  opacity: 1;
}

.glasses {
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: translateX(-0px);
  transform: translateY(-10px);
}

.circle {
  fill: none;
  stroke: green;
  stroke-width: 4;
  stroke-dasharray: 289.03;
  stroke-dashoffset: 289.03;
  transition: stroke-dashoffset 1s ease;
}
